[user]
    name = Victor Ma
    email = victor@victorma.ca
[alias]
    ad     = add
    ada    = add --all
    st     = status
    df     = diff
    dfc    = diff --check
    dfcm   = diff --check master
    dfh    = diff
    com    = co master
    ct     = commit
    cta    = commit -a
    ctm    = commit -m
    ctam   = commit --amend
    ctama  = commit -a --amend
    loga   = log --all
    lg     = log --oneline
    lga    = log --oneline --all
    lgall  = log --oneline --all
    lgr    = log --graph --oneline
    lgrall = log --graph --all --oneline
    ps     = push
    psf    = push --force
    pl     = pull
    ft     = fetch
    fta    = fetch --all
    fp     = fetch --prune
    mg     = merge
    br     = branch
    brd    = branch --delete
    bra    = branch --all
    brall  = branch --all
    rt     = remote
    rtv    = remote -v
    co     = checkout
    cob    = checkout -b
    ma     = master
    rb     = rebase
    rbi    = rebase -i
    rbm    = rebase -i master
    rs     = reset
    rsh    = reset --hard
    cl     = clean -f
    cfd    = clean -fd
    df1    = diff HEAD~1
    plu    = pull upstream master
    dfm    = diff master
    brm    = branch --move
    bs     = bisect start
    bb     = bisect bad
    bg     = bisect good
[fetch]
    prune = true
[advice]
    detachedHead = false
[core]
    editor = vim
    excludesfile = /home/victor/.gitignore
[push]
    autoSetupRemote = true
