[user]
	name = Victor Ma
	email = vic.ma@mail.utoronto.ca
[alias]
    ad = add
    st = status
    df = diff
    ct = commit -s
    lg = log --oneline
    lgraph = log --graph --all --oneline
    ps = push
    pl = pull
    ft = fetch
    mg = merge
    br = branch --all
    rt = remote
    co = checkout
    ma = master
    rb = rebase
[core]
	excludesfile = /home/victor/.gitignore_global
